<app-navvar [selectedId]="1"></app-navvar>
<div class = "container-fluid">
<div class = "inventory-container top-50">
        <span class = "current-inventory">Current Inventory</span>
        <table class="table table-hover table-fixed table-outline">
            <thead>
                <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let el of elements">
                    <td scope="row" ><input [(ngModel)] = "el.id" type = "text" name = "{{el.id}}" disabled/></td>
                    <td><input [(ngModel)] = "el.ProductName" type = "text" name = "{{el.ProductName}}" disabled/></td>
                    <td><input [(ngModel)] = "el.SKU" type = "text" name = "{{el.SKU}}" disabled/></td>
                    <td><input [(ngModel)] = "el.Quantity" type = "text" name = "{{el.Quantity}}" disabled/></td>
                    <td><input [(ngModel)] = "el.Price" type = "text" name = "{{el.Price}}" disabled/></td>
                    <td><button type="button" class="btn btn-success">Save</button></td>
                    <td><button type="button" class="btn btn-warning left-15" (click) = "deleteInventory(el.id)">Remove</button></td>
                </tr>
            </tbody>
        </table>
        <span class = "current-inventory">Add Inventory</span>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <table class="table table-striped table-outline-add" matSort (matSortChange)="sortData($event)">
            <thead>
                <tr>
                    <th >Product Name</th>
                    <th>SKU</th>
                    <th mat-sort-header="vendor">Vendor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventory of sortedData">
                    <td>{{inventory.name}}</td>
                    <td>{{inventory.sku}}</td>
                    <td>{{inventory.vendor}}</td>
                    <td><button type="button" class="btn btn-success" (click)="open(content)">Add</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Products of Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-fixed table-outline">
            <thead>
                <tr>
                    <th *ngFor = "let head of headElementAddInventorys" scope="col">{{head}}</th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor = "let el of addInventoryProducts">
                    <!-- <td scope = "row">{{el.id}}</td> -->
                    <td scope="row"><input type = "text" id = "newAttributeProductName" [(ngModel)] = "el.name" name = "{{el.name}}" disabled/></td>
                    <td><input type = "text" id = "newAttributeSKU" [(ngModel)] = "el.sku" name = "{{el.sku}}" disabled/></td>
                    <td><input type = "text" id = "newAttributeQuantity" [(ngModel)] = "el.vendor" name = "{{el.vendor}}" disabled/></td>
                    <td></td>
                </tr> 
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
    </div>
</ng-template>
