<app-navvar [selectedId]="0"></app-navvar>
<div class = "home-container mt-100">
    <div class = "row">
        <label class="col-sm-2 col-form-label">Store Name</label>
        <div class="col-sm-10 md-form mt-10 col-form-label">
            {{adminData?.name}}
        </div>
    </div>
    <div class="row mt-30">
        <label class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10 md-form mt-10 col-form-label">
            {{adminData?.address.city}}, {{adminData?.address.address}}
        </div>
    </div>
</div>